<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome User to Signup page of SmartStore</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for =""> Username: {{form.username}} </label>
        <label for=""> E-Mail: {{form.email}} </label>
        <label for=""> Password: {{form.password1}} </label>
        <label for=""> Confirm Password: {{form.password2}} </label>

        <br>
        <input class="btn login_btn" type="submit" value="Register Account">
    </form>

    {{form.errors}}
    <!-- {{form}} -->
</body>
</html>